= form_for @evaluation, :html => { :class => 'form-horizontal' } do |f|
  %table.table.table-striped
    %thead
      %tr
        %th Workout
        %th Weight
        %th Reps
        %th Suggested Workout
      %tbody
        %tr
          %td.control-group
            = f.label :chest_weight, "Chest", :class => 'control-label'
          %td.controls
            = f.number_field :chest_weight, :class => 'number_field'
          %td.controls
            = f.number_field :chest_reps, :class => 'number_field'
          %td Sit press
        %tr
          %td.control-group
            = f.label :shoulder_weight, "Shoulders", :class => 'control-label'
          %td.controls
            = f.number_field :shoulder_weight, :class => 'number_field'
          %td.controls
            = f.number_field :shoulder_reps, :class => 'number_field'
          %td Vertical row lift
        %tr
          %td.control-group
            = f.label :bicep_weight, "Biceps", :class => 'control-label'
          %td.controls
            = f.number_field :bicep_weight, :class => 'number_field'
          %td.controls
            = f.number_field :bicep_reps, :class => 'number_field'
          %td Curls
        %tr
          %td.control-group
            = f.label :tricep_weight, "Triceps", :class => 'control-label'
          %td.controls
            = f.number_field :tricep_weight, :class => 'number_field'
          %td.controls
            = f.number_field :tricep_reps, :class => 'number_field'
          %td Sitting behind head lifts
        %tr
          %td.control-group
            = f.label :legs_weight, "Legs", :class => 'control-label'
          %td.controls
            = f.number_field :legs_weight, :class => 'number_field'
          %td.controls
            = f.number_field :legs_reps, :class => 'number_field'
          %td Squat machine
        %tr
          %td.control-group
            = f.label :back_weight, "Back", :class => 'control-label'
          %td.controls
            = f.number_field :back_weight, :class => 'number_field'
          %td.controls
            = f.number_field :back_reps, :class => 'number_field'
          %td Sit row
        %tr
          %td.control-group
            = f.label :lower_back_weight, "Lower Back", :class => 'control-label'
          %td.controls
            = f.number_field :lower_back_weight, :class => 'number_field'
          %td.controls
            = f.number_field :lower_back_reps, :class => 'number_field'
          %td Reverse bench crunches
        %tr
          %td.control-group
            = f.label :crunch_reps, "Crunches", :class => 'control-label'
          %td.controls
            = f.number_field :crunch_reps, :class => 'number_field'  
          %td -
          %td -
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), evaluations_path, :class => 'btn'
