- model_class = Evaluation
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
/- if current_user.evaluations.empty?
/  %p Looks like you don't have any evaluations yet.  Click the new button to get started.
/- else 
- if !current_user.evaluations.empty?
  %table.table.table-striped
    %thead
      %tr
        %th Area
        %th 60%
        %th 65%
        %th 70%
        %th 75%
        %th 80%
        %th Max
    %tbody
      %tr
        %td chest  
        %td= number_with_precision( current_user.evaluations.last._60_weight(:chest), :precision => 0) 
        %td= number_with_precision( current_user.evaluations.last._65_weight(:chest), :precision => 0)         
        %td= number_with_precision( current_user.evaluations.last._70_weight(:chest), :precision => 0) 
        %td= number_with_precision( current_user.evaluations.last._75_weight(:chest), :precision => 0) 
        %td= number_with_precision( current_user.evaluations.last._80_weight(:chest), :precision => 0) 
        %td= number_with_precision( current_user.evaluations.last.one_rep_max(:chest), :precision => 0) 
      %tr  
        %td shoulder
        %td= number_with_precision( current_user.evaluations.last._60_weight(:shoulder), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last._65_weight(:shoulder), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last._70_weight(:shoulder), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last._75_weight(:shoulder), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last._80_weight(:shoulder), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last.one_rep_max(:shoulder), :precision => 0)
      %tr
        %td bicep
        %td= number_with_precision( current_user.evaluations.last._60_weight(:bicep), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last._65_weight(:bicep), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last._70_weight(:bicep), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last._75_weight(:bicep), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last._80_weight(:bicep), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last.one_rep_max(:bicep), :precision => 0)
      %tr
        %td tricep
        %td= number_with_precision( current_user.evaluations.last._60_weight(:tricep), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last._65_weight(:tricep), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last._70_weight(:tricep), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last._75_weight(:tricep), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last._80_weight(:tricep), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last.one_rep_max(:tricep), :precision => 0)
      %tr
        %td legs
        %td= number_with_precision( current_user.evaluations.last._60_weight(:legs), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last._65_weight(:legs), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last._70_weight(:legs), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last._75_weight(:legs), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last._80_weight(:legs), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last.one_rep_max(:legs), :precision => 0)
      %tr
        %td back
        %td= number_with_precision( current_user.evaluations.last._60_weight(:back), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last._65_weight(:back), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last._70_weight(:back), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last._75_weight(:back), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last._80_weight(:back), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last.one_rep_max(:back), :precision => 0)
      %tr
        %td lower_back
        %td= number_with_precision( current_user.evaluations.last._60_weight(:lower_back), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last._65_weight(:lower_back), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last._70_weight(:lower_back), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last._75_weight(:lower_back), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last._80_weight(:lower_back), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last.one_rep_max(:lower_back), :precision => 0)
      %tr
        %td crunch
        %td= number_with_precision( current_user.evaluations.last._60_weight(:crunch), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last._65_weight(:crunch), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last._70_weight(:crunch), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last._75_weight(:crunch), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last._80_weight(:crunch), :precision => 0)
        %td= number_with_precision( current_user.evaluations.last.one_rep_max(:crunch), :precision => 0)
  

  %table.table.table-striped
    %thead
      %tr
        %th= model_class.human_attribute_name(:id)
        %th= model_class.human_attribute_name(:chest_weight)
        %th= model_class.human_attribute_name(:chest_reps)
        %th= model_class.human_attribute_name(:shoulder_weight)
        %th= model_class.human_attribute_name(:shoulder_reps)
        %th= model_class.human_attribute_name(:bicep_weight)
        %th= model_class.human_attribute_name(:bicep_reps)
        %th= model_class.human_attribute_name(:tricep_weight)
        %th= model_class.human_attribute_name(:tricep_reps)
        %th= model_class.human_attribute_name(:legs_weight)
        %th= model_class.human_attribute_name(:legs_reps)
        %th= model_class.human_attribute_name(:back_weight)
        %th= model_class.human_attribute_name(:back_reps)
        %th= model_class.human_attribute_name(:lower_back_weight)
        %th= model_class.human_attribute_name(:lower_back_reps)
        %th= model_class.human_attribute_name(:crunch_reps)
        %th= model_class.human_attribute_name(:created_at)
        %th=t '.actions', :default => t("helpers.actions")
    %tbody
      - @evaluations.each do |evaluation|
        %tr
          %td= link_to evaluation.id, evaluation_path(evaluation)
          %td= evaluation.chest_weight
          %td= evaluation.chest_reps
          %td= evaluation.shoulder_weight
          %td= evaluation.shoulder_reps
          %td= evaluation.bicep_weight
          %td= evaluation.bicep_reps
          %td= evaluation.tricep_weight
          %td= evaluation.tricep_reps
          %td= evaluation.legs_weight
          %td= evaluation.legs_reps
          %td= evaluation.back_weight
          %td= evaluation.back_reps
          %td= evaluation.lower_back_weight
          %td= evaluation.lower_back_reps
          %td= evaluation.crunch_reps
          %td=l evaluation.created_at
          %td
            = link_to t('.edit', :default => t("helpers.links.edit")), edit_evaluation_path(evaluation), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), evaluation_path(evaluation), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_evaluation_path, :class => 'btn btn-primary'
