- model_class = Workout

- if current_user.evaluations.blank?
  .jumbotron
    %p.lead.text-error You need to do an evaluation before you can workout!
    =link_to "I long to be judged", new_evaluation_path, :class => "btn btn-large btn-success"
    


.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize

  = link_to "Generate New Workout", new_workout_path, :class => 'btn btn-primary'
  
%table.table.table-striped
  %thead
    %tr
      %th= "Workout"
      %th= "Muscle Groups"
  %tbody
    - @workouts.each do |workout|
      %tr
        %td= link_to "Workout from #{workout.created_at.strftime('%A %b %d')}", workout_path(workout)
        %td= "#{MuscleGroup.find(workout.muscle_group_1_id).name.titleize} and #{MuscleGroup.find(workout.muscle_group_2_id).name.titleize}"