- model_class = Workout
.page-header
  %h1=t '.title', :default => model_class.model_name.human

= "Working out these areas:"
= MuscleGroup.find(@workout.muscle_group_1_id).name
= "(attempt #{@workout.mg1_phase_attempt_counter} )"

= ","
= MuscleGroup.find(@workout.muscle_group_2_id).name
= "(attempt #{@workout.mg2_phase_attempt_counter} )"


= form_for @workout, :html => { :class => 'form-horizontal' } do |f|
  %table.table.table-striped
    %thead
      %tr
        %th Workout Name
        %th Rep 1
        %th Actual Reps 1
        %th Weight 1
        %th Rep 2
        %th Actual Reps 2
        %th Weight 2
        %th Rep 3
        %th Actual Reps 3
        %th Weight 3      
    %tbody
      = f.fields_for :workout_units do |u|
        %tr
          %td
            = u.object.exercise.name.humanize
            %br
            - v1 = u.object.rep_1.to_f * u.object.weight_1.to_f
            - v2 = u.object.rep_2.to_f * u.object.weight_2.to_f
            - v3 = u.object.rep_3.to_f * u.object.weight_3.to_f
            - volumes = [v1,v2,v3]
            = "(#{u.object.exercise.muscle_group.name}). PS: #{WorkoutUnit.achieved_at_target_volume(volumes, u.object.exercise.id, @workout.user_id, @workout.id)}"
          %td
            = u.object.rep_1
            %br
            = u.object.diff_1
          %td
            = u.number_field :actual_reps_1, :class => 'number_field'
          %td= u.object.weight_1
          %td
            = u.object.rep_2
            %br
            = u.object.diff_2
            %td
              = u.number_field :actual_reps_2, :class => 'number_field'          
          %td= u.object.weight_2
          %td
            = u.object.rep_3
            %br
            = u.object.diff_3
            %td
              = u.number_field :actual_reps_3, :class => 'number_field'
          %td= u.object.weight_3

  - unless @workout.workout_unit_abs.empty?
    %hr
    %p.lead Abdominal Workout
    %table.table.table-striped
      %thead
        %tr
          %th Workout Name
          %th Reps
          %th Actual Reps
      %tbody
        = f.fields_for :workout_unit_abs do |u|
          %tr
            %td
              = u.object.exercise.name.humanize
            %td
              = u.object.reps
            %td
              = u.number_field :actual_reps, :class => 'number_field'

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), exercises_path, :class => 'btn'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), workout_path(@workout), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'