#signup-form.page.color-2
  = form_for @user do |f|
    - if @user.errors.any?
      .error_message
        %h2 Form is invalid
        %ul
          - for message in @user.errors.full_messages
            %li= message					

    .row-fluid.inner-page.contact
      .offset3.span6
        = f.email_field :email, :class => 'text_field', :placeholder => "your@email.com"
        = f.password_field :password, { :placeholder => "password", :class => 'password_field' }
        = f.password_field :password_confirmation, { :placeholder => "confirm password", :class => 'password_field' }
        = f.text_field :age, { :pattern => "[0-9]*", :class => 'number_field', :style => "width: 60px;", :placeholder => "age"}
        %br/
        = f.select(:sex, ["Sex", "Male", "Female"])
        %br/
        = f.select(:experience, [["Experience", -1],["Novice",1], ["Intermediate",2], ["Advanced",3]])
        %br/
        = f.select(:goal, ["Goal", "Strength Gain", "Muscle Gain"])
        %hr/
        %p What muscle groups do you want to focus on?
        = f.fields_for :user_muscle_groups do |builder|
          .muscle_groups
            - MuscleGroup.all.each do |g|
              = builder.label g.id, g.name.titleize, { :class => "checkbox_label" }
              = builder.check_box g.id, { :checked =>@user.muscle_groups.include?(MuscleGroup.find(g.id)), :class => 'checkbox' }
              .row
        %hr/
        %p By proceeding you acknowledge and accept the risks both stated above, and those implicitly associated with exercising.  Repper is not responsible for accidents that occur.  Please, always be safe.
        = f.submit "Register", :class => 'btn'
  .row