#signup-form.page.color-2
  = form_for @user do |f|
    - if @user.errors.any?
      .error_message
        %h2 Form is invalid
        %ul
          - for message in @user.errors.full_messages
            %li= message					

    .row-fluid.inner-page.contact
      .offset3.span6
        = f.text_field :beta_code, :class => 'text_field', :placeholder => "beta code"
        = f.email_field :email, :class => 'text_field', :placeholder => "your@email.com"
        = f.password_field :password, { :placeholder => "password", :class => 'password_field' }
        = f.password_field :password_confirmation, { :placeholder => "confirm password", :class => 'password_field' }
        %br/
        = f.select(:sex, ["Sex", "Male", "Female"])
        %br/
        = f.select(:experience, [["Experience", -1],["Beginner",1], ["Experienced",2]])
        %br/
        = f.select(:goal, ["Goal", ["Tone up", 1], ["Bulk Up", 2]])
        %hr/
        %p Date of birth
        = f.date_select(:dob, { :start_year => Time.now.year-80, :end_year => Time.now.year-16, :order => [:month, :day, :year], :prompt => true  })
        %hr/
        %p What muscle groups do you want to focus on?
        = f.fields_for :user_muscle_groups do |builder|
          .muscle_groups
            - MuscleGroup.all.each do |g|
              = builder.label g.id, g.name.titleize, { :class => "checkbox_label" }
              = builder.check_box g.id, { :checked =>@user.muscle_groups.include?(MuscleGroup.find(g.id)), :class => 'checkbox' }
              .row
        %hr/
        %p By proceeding you acknowledge and accept the risks both stated above, and those implicitly associated with exercising.  Repper is not responsible for accidents that occur.  Please, always be safe.
        - if current_user
          = f.submit "Update", :class => 'btn'
        - else 
          = f.submit "Register", :class => 'btn'
  .row