%h3 Muscle Groups
= form_for @user, :html => { :class => 'form-horizontal' } do |f|
  = f.fields_for :muscle_group_ids do |builder|
    - MuscleGroup.all.each do |g|
      .control-group
        = f.label "muscle_group_ids_#{g.name}", g.name, :class => 'control-label'
        .controls
          = builder.check_box g.name, { :class => 'check_box', :checked =>@user.muscle_groups.include?(MuscleGroup.find(g.id)) }
  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn'
