%h3 Muscle Groups
= form_for @user, :html => { :class => 'form-horizontal' } do |f|

  .control-group
    = f.label :age, :class => 'control-label'
    .controls
      = f.number_field :age, :class => 'number_field'
      
  .control-group
    = f.label :sex, :class => 'control-label'
    .controls
      = f.select(:sex, ["Male", "Female"])
      
  .control-group
    = f.label :experience, :class => 'control-label'
    .controls
      = f.select(:experience, [["Novice",1], ["Intermediate",2], ["Advanced",3]])
      
  .control-group
    = f.label :goal, "Primary goal", :class => 'control-label'
    .controls
      = f.select(:goal, ["Strength Gain", "Muscle Gain"])

  = f.fields_for :muscle_group_ids do |builder|
    - MuscleGroup.all.each do |g|
      .control-group
        = f.label "muscle_group_ids_#{g.name}", g.name, :class => 'control-label'
        .controls
          = builder.check_box g.name, { :class => 'check_box', :checked =>@user.muscle_groups.include?(MuscleGroup.find(g.id)) }

  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn'
