= form_for @perodization, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :user_id, :class => 'control-label'
    .controls
      = f.number_field :user_id, :class => 'number_field'
  .control-group
    = f.label :muscle_group_id, :class => 'control-label'
    .controls
      = f.number_field :muscle_group_id, :class => 'number_field'
  .control-group
    = f.label :perodization_phase, :class => 'control-label'
    .controls
      = f.number_field :perodization_phase, :class => 'number_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), perodizations_path, :class => 'btn'
