- if current_user
  %li= link_to "Workouts", workouts_path
  %li= link_to "Progression", progression_event_logs_path
  %li= link_to "Account", user_path(current_user)
  %li= link_to "Log out", logout_path
- else
  / not logged in and on homepage
  - if request.path == root_path
    %li.active
      %a.scroll.brand-1{:href => "#home"} Home
    %li
      %a.scroll.brand-4{:href => "#about"} About
    %li
      %a.scroll.brand-3{:href => "#features"} Features
    %li
      %a.scroll.brand-4{:href => "#price"} Price
    %li
      %a.scroll.brand-1{:href => "#details"} Details
  - else
    / not logged in and not on homepage
    %li
      = link_to "Home", root_path, :class => "brand-1"
    %li
      %a.scroll.brand-4{:href => "/#about"} About
    %li
      %a.scroll.brand-4{:href => "/#features"} Features
    %li
      %a.scroll.brand-2{:href => "/#price"} Price      
    %li
      %a.scroll.brand-1{:href => "/#details"} Details

  %li{:class => ((request.path == signup_path) ? "active" : nil)}
    = link_to "Sign up", signup_path, :class => "brand-4"             
  %li{:class => ((request.path == login_path) ? "active" : nil)}
    = link_to "Log in", login_path, :class => "brand-2"

    
    
    
  /%li
  /  %a.scroll.brand-4{:href => "#features", :title => "Check out our awesome services"} Features
  /%li
  /  %a.scroll.brand-3{:href => "#assets", :title => "Themes assets"} Assets
  /%li
  /  %a.scroll.fadeto.brand-4{:href => "#about", :title => "Who we are"} About us
  /%li
  /  %a.scroll.brand-2{:href => "#contact", :title => "Get in touch!"} Contact